{% assign output = '' %}
{% assign echo = echo | default: true %}
{% assign __product = price | default: product %}

{% if __product != empty %}
	{% if echo == true %}
		{% if __product.compare_at_price > __product.price %}
			<del class="price__amount">
				<span>
					{{ __product.compare_at_price | money }}
				</span>
			</del>

			<ins class="price__amount">
				<span>
					{{ __product.price | money }}
				</span>
			</ins>
		{% else %}
			<span class="price__amount">
				<span>
					{{ __product.price | money }}
				</span>
			</span>
		{% endif %}
	{% else %}
		{% capture output %}
			{% include 'price' with __product, echo: true %}
		{% endcapture %}

		{% assign output = output | strip_newlines | remove: '	' | replace: '"', "'" %}
	{% endif %}
{% endif %}

{% assign __product = '' %}
