<div class="container-product-zoom" id="container-product-zoom">
  <div class="shell">
    <div class="container__inner">
      <a href="#container-product-zoom" class="contanier__close js-zoom-close">
        {%- include 'icons', icon: 'close' -%}
      </a>

      <aside class="container__aside">
        {%- assign product_zoom_main_html = '' -%}

        {%- for image in _product.images -%}
          {%- assign product_zoom_main_html = product_zoom_main_html | append: '<div class="container__media" id="product-media-' | append: image.id | append: '">' -%}

          <a href="#product-media-{{- image.id -}}" class="container__thumb js-zoom-open">
            {%- include 'lazyload-image' _image: image.src, original_width: '120' -%}

            {%- capture product_zoom_main_html -%}
              {{- product_zoom_main_html -}}

              {%- include 'lazyload-image' _image: image.src, original_size_image: true, retina: false -%}
            {%- endcapture -%}
          </a><!-- /.container__thumb -->
          {%- assign product_zoom_main_html = product_zoom_main_html | append: '</div>' -%}
        {%- endfor -%}

        
      </aside><!-- /.container__aside -->
      
      <div class="container__content">
        {{- product_zoom_main_html -}}
        <p class="zoom-text">Pinch to Zoom</p>
      </div><!-- /.container__content -->
    </div><!-- /.container__inner -->
  </div><!-- /.shell -->
</div><!-- /.container-product-zoom -->
