{%- assign _section = section.settings -%}

<div class="section-404">
  <div class="shell">
    <header class="section__head">
      {%- assign default_title = 'general.404.title' |  t -%}
      {%- assign default_subtitle = 'general.404.subtext_html' |  t -%}
      {%- assign default_cross_sell_title = 'general.404.cross_sell_title' |  t -%}

      <h1>{{- _section.title | default: default_title -}}</h1>
      
      <h4>{{- _section.subtitle | default: default_subtitle -}}</h4>
    </header><!-- /.section__head -->
  </div><!-- /.shell -->
</div><!-- /.section-404 -->

{% include 'product-carousel' %}

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "header",
      "content": "Main content"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Cross-sell"
    },
    {
      "type": "text",
      "id": "cross_sell_title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection_item",
      "label": "Collection"
    }
  ]
}
{% endschema %}
