{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

<section class="section-slider-products">
  <div class="shell shell--fluid">
    {% if _section.title != blank %}
      <header class="section__head">
        <h4 class="section__title">{{ _section.title }}</h4><!-- /.section__title -->
      </header><!-- /.section__head -->

      {% if _blocks.size > 0 or collections[_section.collection].all_products_count > 0 %}
        <div class="section__body">
          <div class="slider-products">
            <div class="slider__clip">
              <div class="slider__zoom">
                {%- include 'icons', icon: 'zoom' -%}
              </div>

              <div class="slider__slides js-slider-products">
                {% if _blocks.size > 0 %}
                  {% for block in _blocks %}
                    {% assign _product = all_products[block.settings.product] %}

                    <div class="slider__slide">
                      {%- include 'product-item', current_product: _product, show_video: true, additional_classes: 'product-item--half-mobile', is_half_on_mobile: is_half_on_mobile -%}
                    </div><!-- /.slider__slide -->
                  {% endfor %}
                {% else %}
                  {% for _product in collections[_section.collection].products %}
                    {%- assign forloop_index = forloop.index0 -%}

                    <div class="slider__slide">
                      {%- include 'product-item', current_product: _product, show_video: true, additional_classes: 'product-item--half-mobile', is_half_on_mobile: is_half_on_mobile -%}
                    </div><!-- /.slider__slide -->
                  {% endfor %}
                {% endif %}
              </div><!-- /.slider__slides -->
            </div><!-- /.slider__clip -->

            <div class="slider__actions">
              <a href="#" class="slider__prev">
                {% render 'icons', icon: 'arrow-big-left' %}
              </a><!-- /.slider__prev -->

              <a href="#" class="slider__next">
                {% render 'icons', icon: 'arrow-big-right' %}
              </a><!-- /.slider__next -->
            </div><!-- /.slider__actions -->
          </div><!-- /.slider -->
        </div><!-- /.section__body -->
      {% endif %}
    {% endif %}
  </div><!-- /.shell shell--fluid -->
</section><!-- /.section-slider-products -->



{% if _blocks.size > 0 %}
  {% for block in _blocks %}
    {% assign _product = all_products[block.settings.product] %}

    {%- include 'product-bis-form' is_plp: true, product: _product -%}
  {% endfor %}
{% else %}
  {% for _product in collections[_section.collection].products %}
    {%- assign forloop_index = forloop.index0 -%}

    {%- include 'product-bis-form' is_plp: true, product: _product -%}
  {% endfor %}
{% endif %}





<script>
  function addcartmob(para) {
    var newWindowWidth = jQuery(window).width();
    if (newWindowWidth < 768) {
      setTimeout(function() {
        jQuery('#probtn'+para).click();
      },100);
    }
  }
</script>

<style>
    .section-slider-products, .section-slider-products * {
        letter-spacing: {{ _section.kerning_size }}px !important;
        line-height: {{ _section.leading_size }}% !important;
    }
</style>
{% schema %}
  {
    "name": "Products slider",
    "settings": [
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 24,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Title font size",
        "default": 32
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "This collection will be ignored if a custom item is added."
      },
      {
        "type": "paragraph",
        "content": "Leading and Kerning"
      },
      {
        "type": "range",
        "id": "leading_size",
        "min": 100,
        "max": 400,
        "step": 5,
        "unit": "%",
        "label": "Leading",
        "default": 135
      },
      {
        "type": "range",
        "id": "kerning_size",
        "min": -10,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Kerning",
        "default": 1
      }
    ],
    "blocks":[
      {
        "type": "product",
        "name": "Product",
        "settings":[
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Sliders",
        "name":"Products slider"
      }
    ]
  }
{% endschema %}
