<div class="shell">
	<div class="article--default">
		<div class="article__listing">
			<article class="article">
				<header class="article__head">
					<h2 class="article__title">
						{{- article.title -}}
					</h2>

					<div class="article__meta">
						{%- assign date_format = 'date_formats.short' | t -%}

						{%- assign published_at = article.published_at | date: date_format -%}

						{{- 'blogs.article.posted_on_date' | t: date: published_at -}}
					</div><!-- /.article__meta -->

					{%- if article.image -%}
						<div class="article__image">
							{{ article.image | img_url: '1024x1024' | img_tag: article.image.alt }}
						</div><!-- /.article__image -->
					{%- endif -%}
				</header><!-- /.article__head -->

				<div class="article__body">
					{{- article.content -}}
				</div><!-- /.article__body -->
			</article><!-- /.article -->

			{% if blog.comments_enabled? %}
				{%- include 'article-comments' -%}
			{% endif %}
		</div><!-- /.article__listing -->
	</div>
</div><!-- /.shell -->
