{%- layout none -%}

<div id="cart-items">
  {%- include 'cart-items' -%}
</div><!-- /#cart-items -->

<div id="cart-summary">
  {%- include 'cart-summary' -%}
</div><!-- /#cart-summary -->

<div id="cart-shipping-bar">
  {%- include 'free-shipping-bar' -%}
</div><!-- /#cart-shipping-bar -->

<div id="additional-checkout-buttons">
  {%- include 'additional-checkout-buttons' -%}
</div><!-- /#additional-checkout-buttons -->

<div id="cart-payment-message">
  <div class="cart-afterpay-message-wrapper js-cart-payment-message">
    <div class="cart-afterpay-message-delimiter"></div><!-- /.cart-afterpay-message-delimiter -->
    <afterpay-placement
      id="mini-cart-message"
      data-amount="{{ cart.total_price | money_without_currency }}"
      data-locale="{{ shop_locale.iso_code | replace: '-', '_' }}"
      data-currency="{{ cart.currency.iso_code }}"
      data-size="md"
      data-payment-amount-is-bold="true"
      data-show-interest-free="false"
      data-logo-type="compact-badge"
      data-is-eligible="true"
      data-modal-link-style="more-info-text"
      data-intro-text="Or"
    >
    </afterpay-placement>
  </div><!-- /.cart-afterpay-message -->
</div><!-- /#additional-checkout-buttons -->
