{%- layout none -%}

<div id="cart-items">
  {%- include 'cart-items', is_cart_layout: true -%}
</div><!-- /#cart-items -->

<div id="cart-summary">
  {%- include 'cart-summary' -%}
</div><!-- /#cart-summary -->

<div id="cart-shipping-bar">
  {%- include 'free-shipping-bar' -%}
</div><!-- /#cart-shipping-bar -->

<div id="additional-checkout-buttons">
  {%- include 'additional-checkout-buttons' -%}
</div><!-- /#additional-checkout-buttons -->
