{%- assign exclude = 'frontpage' | split: ',' -%}

<div class="shell">
	<div class="collections--default">
		<div class="collection__head">
			<h1 class="collection__title">
				{{- 'collections.general.title' | t -}}
			</h1>
		</div><!-- /.collection__head -->

		<div class="collection-items">
			{%- paginate collections by 10 -%}
				{%- for collection in collections -%}
					{%- if exclude contains collection.handle -%}
						{%- continue -%}
					{%- endif -%}

					{% if product == blank and collection and collection.metafields.nosto != blank %}
						{%- assign collection_image = collections[collection.metafields.nosto.sourceHandle].image | default: collection.products[0].featured_image -%}
					{% else %}
						{%- assign collection_image = collection.image | default: collection.products[0].featured_image -%}
					{% endif %}
					{%- assign id = 'collection-id-' | append: collection.id -%}
					{% if collection.metafields.nosto == blank %}
						{%- include 'collection-item', item_image: collection_image, item_url: collection.url, item_title: collection.title, id: id -%}
					{% endif %}
				{%- endfor -%}
			{%- endpaginate -%}
		</div><!-- /.collection-list -->
	</div>
</div><!-- /.shell -->
