<div class="shell">
	<div class="page--default">
		<div class="page__head">
			<h1 class="page__title">
				{{- page.title -}}
			</h1>
		</div><!-- /.page__head -->

		<div class="page__content">
			{{- page.content -}}
		</div><!-- /.page__content -->
	</div>
</div><!-- /.shell -->


{% if page.handle == 'contact-us' %}
<style>
  .page__content h3, .page__content h2, .page__content h4{font-family: 'heroicCondensed';}
</style>
{% endif %}